use {
    crate::contexts::{CounterMut, Destination},
    typhoon::prelude::*,
};

pub fn close(
    CounterMut { mut counter }: CounterMut,
    Destination { mut destination }: Destination,
) -> ProgramResult {
    counter.close(&mut destination)?;

    Ok(())
}
